<div class="container">
  <div class="row justify-content-between align-items-center">
    <div *ngIf="!showEditTitle" (click)="toShowEditTitle()">{{group.title}}</div>
    <input #editTitleEl *ngIf="showEditTitle" type="text" [(ngModel)]="currentGroup.title" (blur)="saveGroup()">
    <div *ngIf="!showEditTitle && !showEditSubject">
      <span  class="delete-icon material-icons" (click)="delete()">delete</span>
    </div>
      </div>
  <div>
    <div *ngIf="!showEditSubject" (click)="toShowEditSubject()">{{group.subject}}</div>
    <select #editSubjectEl *ngIf="showEditSubject" 
            (change)="subjChange($event)" 
            (blur)="saveGroup()">
      <option value="">Оберіть предмет</option>
      <option value="{{subject.id}}" *ngFor="let subject of subjects">{{subject.title}}</option>
    </select>
  

    <!-- <input #editSubjectEl 
    *ngIf="showEditSubject" 
    type="text" 
    [(ngModel)]="currentGroup.subject" 
    (blur)="saveGroup()"> -->

    <!-- <input type="text" [(ngModel)]="group.subject"> -->
  </div>
  <div class="row d-flex justify-content-center">
    Code: <h5> {{group.model_code}}</h5> 
  </div>
  
  <div *ngIf="group.users">
    <hr>
    <div class="d-flex flex-wrap">
      <div  *ngFor="let item of group.users" class="col-sm-4 col-md-3 col-lg-2">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div class="circle d-flex flex-column justify-content-center align-items-center" > {{initials(item)}} </div>
          <div>{{item.first_name}}</div>
          <div>{{item.last_name}}</div>
        </div>
      </div>
    </div>
    
  </div>
  
</div>

<!-- <div class="row mt-3 ml-1">
        <button
          type="button"
          (click)="changeTitle()"
          class="col-2 btn btn-success">Изменить
        </button>
        <button
          type="button"
          (click)="location.back()"
          class="btn col-2 ml-2 btn-danger"
        >Отмениить</button>
      </div> -->