.container{
  cursor: default;

}
.row{
  margin: 0;
}
.input{
  outline: none;
  border: none;
  width: 100%;
}
.circle{
  width: 80px;
  height: 80px;
  border: silver 3px solid;
  border-radius: 40px;
  font-size: 25px;
  font-weight: bold;
  background-color: #dcdcdc;
  position: relative;
}
.image{
  width: 80px;
  height: 80px;
  border: silver 3px solid;
  border-radius: 40px;
}
.temp{
  display:table;
  margin:0 auto;
}
.in-avatar{
  position: absolute;
  /* bottom: 0; */
  top: 55px;
  left: 55px;
}
.add-circle{
  font-size: 40px;
}
.code{
  width: 80px;
  font-size: 20px;
}