<div class="container-fluid">
  <div *ngIf="!displayMode">
  
  </div>  

  <div class="d-flex flex-wrap" >

    <div *ngFor="let image of attachments" class="col-sm-6 col-md-3 col-lg-3">
      <img class="img-fluid sketch"
        src={{image.file_link}} 
        alt={{image.file_name}} 
        (click)="showModal(image)">
      <div class="round d-flex align-items-center justify-content-center" (click)="deleteAttach(image.id)">
        <span class="delete-icon material-icons" >delete</span>
      </div>
    </div>

    <div class="col-sm-6 col-md-3 col-lg-3 rectangle ">
      <div class="d-flex align-items-center justify-content-center border">
        <span class="material-icons">add_circle</span> 
        <input
        class="file-upload"
        type="file" [accept]="acceptConfig"
        (change)="handleInputChange($event)"/>
      </div>
      
    </div>
  </div>
</div>


<!-- Modal -->
<div *ngIf="showModalImage" id="modalCotainer" class = "modal-cotainer" (click)="closeModal($event)">
  <div class="modal-dialog-centered" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h6 class="modal-title">{{currentAttachment.file_name}}</h6>
        <span class="material-icons edit"
        (click)="openEditor(currentAttachment)"
        *ngIf="true"
        >edit</span>
        <button type="button" class="close" aria-label="Close" (click)="showModalImage = false">
          <span aria-hidden="true" >&times;</span>
        </button>
      </div>
      
       
      <div class="modal-body">

        <image-drawing *ngIf="modalEditor"
          [src]="imageUrl"
          [outputMimeType]="'image*'"
          [colors]="colors"
          enableRemoveImage = true
          outputQuality="0.8"
          (save)="save($event)"
          (cancel)="cancel()">
        </image-drawing>
        <!-- <div  *ngIf="modalEditor">
          <app-attachment
          [attachment] = 'currentAttachment'
          ></app-attachment>
        </div> -->

        



        <div class="navigate-blocks" *ngIf="!modalEditor">
            <div class="navigate" (click)="listImages(false)" [style.visibility]="!index ? 'hidden' : 'visible'">
              <div>
                <span class="material-icons large-icon">keyboard_arrow_left</span>
              </div>              
            </div>
            <div class="navigate" (click)="listImages(true)" [style.visibility]="calculateArraySize() ? 'hidden' : 'visible'">
              <div>
                <span class="material-icons large-icon">keyboard_arrow_right</span>
              </div>              
            </div>        
          </div>
        <div *ngIf="!modalEditor" class="d-flex justify-content-center">
          
          <img  src={{currentAttachment.file_link}} class="image"> 
          
        </div>
        <!-- <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" (click)="openEditor(currentAttachment)">Editor</button>
          </div> -->
       
      </div>
      <div *ngIf="wait" class="spinner-border" role="status">
        <span class="sr-only">Saving...</span>
      </div>
      <div class="d-flex justify-content-center">
        <div > {{index + 1}}/{{calculateArraySize('number')}} </div>
      </div>
      
    </div>
  </div>
</div>




