.picsum-img-wrapper{
  height: 300px;
  width: 500px;
}
/* .carousel-item.active {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 150px;
  padding: 0 10px;
  background: #a1adb5;
}

.carousel-item{

}

.carousel-indicators {
  margin: 0;
  margin-top: 40px;
} */
.sketch{
  margin-bottom: 0.5em;
  padding: 0px;
}
.round{
  border: silver solid 1px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-color: rgba(192,192,192, 0.5);
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0px;
}

.file-upload{
  height: 100%;
  width: 100%;
     position: absolute;
     top: 0; right: 0;

     /* font-size: 200px; */
     opacity: 0;
     filter: alpha(opacity=0);
     cursor: pointer;
}
.rectangle{
  height: 6em;
  border: silver solid 3px;
  background-color: white;
}