.picsum-img-wrapper{
  height: 300px;
  width: 500px;
}
.carousel-item.active {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 150px;
  padding: 0 10px;
  background: #a1adb5;
}

.carousel-item{

}

.carousel-indicators {
  margin: 0;
  margin-top: 40px;
}
