<div class="container-fluid">
  <div *ngIf="!displayMode">
  <image-drawing *ngIf="modalEditor"
    [src]="imageUrl"
    [outputMimeType]="'image*'"
    [colors]="colors"
    enableRemoveImage = true
    outputQuality="0.8"
    (save)="save($event)"
    (cancel)="cancel()">
  </image-drawing>
  </div>  
  <div class="d-flex flex-wrap" >
    <div *ngFor="let image of attachments" class="col-3 ">
      <img class="img-fluid sketch"
        src={{image.file_link}} 
        alt={{image.file_name}} 
        (click)="openEditor(image)">
      <div class="round d-flex align-items-center justify-content-center" (click)="deleteAttach(image.id)">
        <span class=" material-icons" >delete</span>
      </div>
    </div>
    <div class="col-3 rectangle d-flex align-items-center justify-content-center">
      <span class="material-icons">add_circle</span> 
      <input
        class="file-upload"
        type="file" [accept]="acceptConfig"
        (change)="handleInputChange($event)"/>
    </div>
  </div>
</div>
