<div class="container">
  <div class="row justify-content-center">
    <div class="col-9 card">
      <h5 class="card-header">Изменение</h5>
      <div class="card-body">
        <div class="card card-body mt-1">
          <div class="input-group mb-3">
            <input type="text" [(ngModel)]="title" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
          </div>
          <select class="form-control form-control-sm">
            <option>Subject select</option>
            <option>Subject select</option>
            <option>Subject select</option>
            <option>Subject select</option>
          </select>
          <button
            type="button"
            (click)="changeTitle()"
            class="col-2 mt-2 btn btn-success">Изменить
          </button>
          <button type="button"(click)="location.back()" class="btn btn-danger">Отмениить</button>
        </div>

      </div>
    </div>
  </div>
</div>

