<nav id="sidebar">
  <div class="custom-menu">
    <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
  </div>
  <h1><a  class="logo">Project Name</a></h1>
  <ul class="list-unstyled components mb-5">
    <li class="active">
      <a [routerLink]="'profile'" ><span class="fa fa-home mr-3"></span>Профиль</a>
    </li>
    <li>
      <a [routerLink]="'groups'"><span class="fa fa-user mr-3"></span>Мои группы</a>
    </li>
    <li>
      <a [routerLink]=""><span class="fa fa-sticky-note mr-3"></span>Мои созданные сообщения</a>
    </li>
    <li>
      <a href="#"><span class="fa fa-sticky-note mr-3"></span>Мои файлы</a>
    </li>
    <li>
      <a href="#"><span class="fa fa-paper-plane mr-3"></span> Дети</a>
    </li>
    <li>
      <a href="#"><span class="fa fa-paper-plane mr-3"></span>Родители</a>
    </li>
  </ul>
</nav>
