<div class="row">
  <div class="col-4 container container-for-groups">
    <div class="row">
      <div class="justify-content-center mt-2 group-title">
        <p>Мої групи</p>
      </div>
    </div>

    <div
      *ngIf="groupService.allGroups.length">
      <div class="row mt-2">
        <div class="col-sm-6 col-md-4 col-lg-3"
             style="cursor:pointer;"
             (click)="showUsers(group.id)"
             *ngFor="let group of groupService.allGroups; let idx = index"
        >
          <div class="d-flex flex-column justify-content-center align-items-center " >
            <div class="circle d-flex justify-content-center align-items-center" [ngClass]="group.id===idGroup?'bg-c-yellow': 'bg-c-green'">
              <h6 class="m-b-20">{{group.title}}</h6>
              <!-- <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i></h2> -->
              
            </div>
            <p class="m-b-0">{{group.subject}}</p>
            <p class="m-b-0">{{group.note}}</p>
          </div>
        </div>
      </div>
    </div>

    <ng-template #loading>
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <h3>Empty...</h3>
      </div>
    </ng-template>
  </div>

  <div class="col-7 container-for-groups">
    <div class="container">
      <div class="row justify-content-center" *ngIf="role === 'teacher'">
        <nav class="nav nav-pills flex-column flex-sm-row mt-2 mb-2">
          <a class="flex-sm-fill text-sm-center nav-link font-weight-bold"
             [routerLink]="[idGroup ,'allAssignments',idGroup]"
             [ngClass]="{'active': activeTab==='assignment'}"
             (click)="activeTab='assignment'">Завдання</a>
          <a class="flex-sm-fill text-sm-center nav-link users-style font-weight-bold"
             [routerLink]="[idGroup]"
             (click)="activeTab='student'"
             [ngClass]="{'active': activeTab==='student'}">Студенти</a>
        </nav>
      </div>
    </div>

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
