<div class="row">
  <div class="col-4 container container-for-groups">
    <div class="row">
      <div class="justify-content-center mt-2 group-title">
        <p>MY GROUPS</p>
      </div>
    </div>

    <div
      *ngIf="(groups$ | async)?.length !== 0"
    >
      <div class="row justify-content-around">
        <ul class="c-tile-list">
          <li class="c-tile-list__item"
              *ngFor="let group of groups$|async"
          >
            <article class="c-article-tile t-sass">
              <div class="c-article-tile__header">
                <a class="c-article-tile__category text-dark">
                  {{group.title}}
                </a>
              </div>

              <div class="c-article-tile__body">
                <h2 class="c-article-tile__title">
                  <a
                    [ngClass]="(group.id === idGroup) ? 'text-primary':'text-dark'"
                    (click)="showUsers(group.id)">{{group.subject}}</a>
                </h2>
              </div>

              <footer class="c-article-tile__footer">
        <span class="c-article-tile__author">
          <a class="text-dark">Some information</a>
        </span>
              </footer>
            </article>
          </li>
        </ul>

      </div>
    </div>

    <ng-template #loading>
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <h3>Empty...</h3>
      </div>
    </ng-template>
  </div>

  <div class="col-7 container-for-groups">
    <div class="container">
      <div class="row" *ngIf="role === 'teacher'">
        <nav class="nav nav-pills flex-column flex-sm-row mt-2 mb-2">
          <a class="flex-sm-fill text-sm-center nav-link"
             [routerLink]="[idGroup ,'allAssignments',idGroup]"
             [ngClass]="{'active': activeTab==='assignment'}"
             (click)="activeTab='assignment'">ALL ASSIGNMENTS</a>
          <a class="flex-sm-fill text-sm-center nav-link users-style"
             [routerLink]="[idGroup]"
             (click)="activeTab='student'"
             [ngClass]="{'active': activeTab==='student'}">STUDENTS</a>
        </nav>
      </div>
    </div>

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
