<div class="row">
  <div class="container-fluid container-for-groups">
    <div
      *ngIf="users.length; else loading"
    >
      <ul class="c-tile-list">
        <li class="c-tile-list__item"
            style="width: 25%"
            *ngFor="let user of users"
        >
          <article class="c-article-tile t-sass">
            <div class="c-article-tile__header">
              <a class="c-article-tile__category text-dark">
                {{user.role}}
              </a>

            </div>

            <div class="c-article-tile__body">
              <h2 class="c-article-tile__title">
                <a class="text-dark" [routerLink]="['/groups',idGroup,'student',user.id]">
                  {{user.first_name}} {{user.last_name}}</a>
              </h2>
            </div>

            <footer class="c-article-tile__footer">
        <span class="c-article-tile__author">
          <a class="text-dark">{{user.email}}</a>
        </span>

            </footer>
          </article>
        </li>

      </ul>
    </div>

    <ng-template #loading>
      <div class="text-center">
        <div class="spinner-border" role="status" *ngIf="showSpinner">
          <span class="sr-only">Loading...</span>
        </div>
        <h3>Empty...</h3>
      </div>
    </ng-template>
  </div>
</div>
