.circle{
    width: 80px;
    height: 80px;
    border: silver 3px solid;
    border-radius: 40px;
    font-size: 25px;
    font-weight: bold;
    background-color: #dcdcdc;
    position: relative;
  }
.avatar{
    width: 80px;
    height: 80px;
    border: silver 3px solid;
    border-radius: 40px;
    }
div span{
    text-align: center;
}
.block{
    margin-bottom: 15px;
}