.card{
    padding-left: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.badge{
    cursor: pointer;
}
span{
  cursor: pointer;
}

.checked{
  color:green
}
.tech-mark{
  font-size: larger;
  font-weight: bold;
}
.edit-tech-mark{
  width: 3em;
}
