
<div class="container">
   
<div *ngIf="currentUser.role == 'teacher' && !student_id; else studentNameBlock"  class="card">
  <button type="button" class="btn btn-primary" *ngIf="!createAssignFlag" (click)="showNewAssignBlock()">
    Create new assignment
  </button>
</div>
<ng-template #studentNameBlock>
  {{studentName}}
</ng-template>


<!-------------------------------- Create assignment modal ---------------------------------------->
<div  class="card" *ngIf="createAssignFlag">
    <div class="card-body">
      <h4 class="card-title">Create new assignment</h4>
      <div class="card-text">
        <!-- <form [formGroup]="form"> -->
          <!-- formControlName="title" -->
          <!-- formControlName="note" -->
          <div class="modal-body">
            Title
            <input
              class="input-group"
              type="text"
              
              [(ngModel)]="currentAssignment.title">  
            Note (if necessary)
            <input
              class="input-group"
              type="text"
              
              [(ngModel)]="currentAssignment.description">
            Due date (if necessary)
            <!-- <input class="input-group" type="date" [(ngModel)]="currentAssignment.due_date"> -->
            <div class="col-xs-12 col-12 col-md-4 form-group">
              <input type="text"
                     placeholder="Datepicker, installing in process"
                     class="form-control"
                     bsDatepicker>
            </div>
          </div>
            Problems:
          <div *ngFor="let problemM of currentAssignment.problems; let i = index" class="d-flex flex-row justify-content-between m-1">
            <span>{{i+1}}: </span> 
            <input class="input-problem col" type="text" [(ngModel)]="problemM.title"> 
            <span class="material-icons delete" (click)="removeProblem(i)">delete</span>
          </div>
          <button type="button" class="btn btn-primary col-12" (click)="addProblem()">Add problem to assignment</button>
          <P> Need to solve problem with: attachments needs assignment id, but it's dos't exist </P>
          <!-- [disabled]="!form.valid" -->
        <!-- </form> -->
      </div>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="createAssignFlag = false">Close</button>
        <button type="button" class="btn btn-success"  (click)='createAssignment()'>Save changes</button>

      </div>
     </div>
<!-- --------------------------------------Assignments ------------------------------------------------>
</div>
  <div *ngFor="let assign of assignments; let i = index">
    <!-- <div class="card"[routerLink]="['assignments', assign.id]" routerLinkActive="router-link-active"> -->
      <div *ngIf="!assignments[i].show; else showAssignmentComponent" (click)="showAssignDetail(i)">
        <div class="card-body" >
          <h4 class="card-title">{{ assign.title }}</h4>
            <div>
              <div *ngIf="assign.description" class="col-12"> Note: {{ assign.description }}</div>          
            </div>  
            <ul class="d-flex flex-row">
              <li *ngFor="let prob of assign.problems"> {{prob.title}}; </li>
            </ul>     
        </div>
        <div class="d-flex flex-wrap align-content-end">
          <div >{{ assign.due_date }}</div>  
        </div>
      </div>  
      <ng-template #showAssignmentComponent>
        
          <app-assignment [assignId] = 'assignments[i].id' ></app-assignment>  
      
        
      </ng-template>
      
    <!-- </div> -->
  </div>
<!--
  <p *ngIf="((assignments.problems | async)?.length === 0)">List is empty</p>
-->
</div>




