
<div class="container">
   
<div *ngIf="currentUser.role == 'teacher' && !student_id; else studentNameBlock"  class="card">
  <button type="button" class="btn btn-primary" *ngIf="!createAssignFlag" (click)="createAssignFlag = true">
    Create new assignment
  </button>
</div>
<ng-template #studentNameBlock>
  {{studentName}}
</ng-template>


<!-------------------------------- Create assignment modal ---------------------------------------->
<div  class="card" *ngIf="createAssignFlag">
    <div class="card-body">
      <h4 class="card-title">Create new assignment</h4>
      <div class="card-text">
        <form [formGroup]="form">
          <div class="modal-body">
            Title
            <input
              class="input-group"
              type="text"
              formControlName="title"
              [(ngModel)]="currentAssignment.title">
  
            Note (if necessary)
            <input
              class="input-group"
              type="text"
              formControlName="note"
              [(ngModel)]="currentAssignment.description">
          </div>
          <button type="button" class="btn btn-primary col-12" (click)="addProblem()">Add problem to assignment</button>

          
        </form>
      </div>
      <button type="button" class="btn btn-success" [disabled]="!form.valid" (click)='onSubmit()'>Save changes</button>
      <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="createAssignFlag = false">Close</button>
    </div>

</div>
  <div *ngFor="let assign of assignments">
    <div class="card"
    [routerLink]="['assignments', assign.id]"
    routerLinkActive="router-link-active">
      <div class="card-body">
        <h4 class="card-title">{{ assign.title }}</h4>
        <div>
          <div *ngIf="assign.description" class="col-12"> Note: {{ assign.description }}</div>          
        </div>  
        <ul>
          <li *ngFor="let prob of assign.problems">{{prob.title}}</li>
        </ul>     
      </div>
      <div class="d-flex flex-wrap align-content-end">
        <div >created at {{ assign.created_at | date:"dd/MM/yy" }} make to {{ assign.due_date }}</div>
      </div>  
    </div>
  </div>
<!--
  <p *ngIf="((assignments.problems | async)?.length === 0)">List is empty</p>
-->
</div>




