

.assign{
 &:hover{
   background-color: rgba($color:white, $alpha: 0.7);
 }
}
ul{
  list-style: none;
}
li{
  font-style: italic;
  margin-right: 1em;
}
.input-problem{
  margin-left: 0.5em;
  margin-right: 0.5em;
}