

<div class="container">
  <div class="wrap">
    <button class="btn btn-success" (click)="back()">back...</button>


  
  <div *ngIf="!showEditAssignment; else editAssign" (click)="showEditAssign()">
    <h4>{{ assign.title }}</h4> 
    <h6 *ngIf="assign.description">Note: {{ assign.description }}</h6>
  </div>  
  
  <div *ngIf="!assign.student_id">
    <div *ngIf="!showEditAssignment">
      <div *ngIf="user.role == 'teacher'" class="d-flex justify-content-end">
        <span class="badge badge-danger" (click)="assignDelete()">X</span>        
      </div>
    </div> 
  </div>
<!-------------------------------------------------- edit -->
    <ng-template #editAssign>
      <div class="card-text d-flex flex-column border border-warning">    
        <div class="d-block">
          <div class="d-flex justify-content-between">
            <span class="col-2">Title</span> <input type="text" class="col-10" [(ngModel)]="currentAssign.title">
          </div>
          <div class="d-flex justify-content-between">
            <span class="col-2">Note</span> <input type="text" class="col-10" [(ngModel)]="currentAssign.description">
          </div>       
        </div>
        <div class="d-flex">
          <button class="badge badge-pill badge-success" (click)="assignmentEdit()">Save</button>  
          <button class="badge badge-pill badge-warning " (click)="showEditAssignment = false">Cancel</button>
        </div>
      </div> 
    </ng-template>
    
<!--------------------------------------------------------- problems -->
       
    <hr>
    <div *ngIf="assign.problems">
      <div class="shadow p-3 mb-5 bg-light rounded">
        <app-problem *ngFor="let prob of assign.problems" 
        [problem]='prob' 
        [user]='user' 
        [studentId]='studentId' 
        (emitDel)='probDel($event)' 
        (emitEdit)='probEdit($event)'
        (emitSolve)='probCompletedChsnge($event)'
        ></app-problem>
      </div>
      <div *ngIf="!assign.student_id">
        <div *ngIf="user.role == 'teacher'">
          <button class="btn btn-success col-12" (click)="showCreateProblem = true" *ngIf="!showCreateProblem">Add problem</button>
        </div>
      </div>
    </div>
    
    
<!---------------------------------- Add Problem --------------------------------->
  <div class="d-block" *ngIf="showCreateProblem">     
    <div class="card" >
      <div class="card-body">
        <h4 class="card-title">Add problem</h4>
          <input type="text" class="col-12" [(ngModel)]="currentProblem.title">
        <div class="d-flex">
          <button class="badge badge-pill badge-success" (click)="createProblem()">Create</button>
          <button class="badge badge-pill badge-warning" (click)="showCreateProblem = false">Cancel</button>
        </div>
      </div>
    </div>
  </div>   
  <!------------------------------- Attaches in assignment --------------------------------->

  <div *ngIf="assign.attachments">
    <app-attachment *ngFor="let attach of assign.attachments" [attachment] = 'attach'></app-attachment>
  </div>

  <!-- ------------------------dates ----------------------------------------- -->
  <ul class="list-group d-flex flex-row justify-content-end">
    <li class="list-group-item">Date of create {{ assign.created_at | date:"dd/MM/yy" }}</li>
    <li class="list-group-item">Due date</li>
  </ul>
  <!------------------------------- Attaches --------------------------------->
  <div *ngIf="assign.userAnswer">
    <h6>User answer</h6>
    <app-attachment *ngFor="let attach of assign.userAnswer.attachments" [attachment] = 'attach'></app-attachment>
  </div> 

    <!----------------------------- messages block -------------------------------------------->
    <div *ngIf="assign.userAnswer">
      <app-message *ngFor="let mess of assign.userAnswer.messages" 
      [message]='mess' 
      [currentUserId]='user.id'
      (deleteEmit) = 'deleteMessage($event)'
      (editEmit) = 'editMessage($event)'
      ></app-message>
    </div>

    <div class="input-group" *ngIf="studentId">
      <input type="text" class="form-control" [(ngModel)]="message.message" placeholder="message..." aria-label="message">
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="sendMessage()">Send</button>
      </div>
    </div> 


    
   
  </div>
</div>


