
@import './assets/normalize';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


*{
  padding: 0;
  margin: 0;
}
html{
  height:100%;
}
body{
  height:100%;
  display:flex;
  flex-direction: column;
  background: radial-gradient(at top, #FEFFFF, #dde3e3);
}

  app-root,
  app-layout-index,
  app-index,
  app-profile,
  app-layout-profile,
  app-profile-settings,
  app-layout-group,
  app-my-groups{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  app-index{
    width: 100%;
    flex-direction: row;
  }
.material-icons{
    cursor: pointer;
}
.delete{
    color: red;
}
.edit{
    color: orange;
}


